
**NAME : G PAVAN KUMAR**

**REG.NO: 21BCE9495**

**INSTITUTE: VIT-AP UNIVERSITY **

In [ ]:
import numpy  as np
import pandas as pd

**# Task 1: Create a DataFrame with random values**

In [ ]:
data = np.random.rand(4, 4)
df = pd.DataFrame(data, columns=['RV 1', 'RV 2', 'RV 3', 'RV 4'])
df

       RV 1      RV 2      RV 3      RV 4
0  0.544791  0.618195  0.761170  0.549072
1  0.485159  0.577976  0.141229  0.926200
2  0.589473  0.497156  0.860753  0.177773
3  0.711062  0.731943  0.272173  0.656076

**# Task 2: Rename columns**

In [ ]:
df.columns=(["Random value 1","Random value 2","Random value 3","Random value 4"])
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.544791        0.618195        0.761170        0.549072
1        0.485159        0.577976        0.141229        0.926200
2        0.589473        0.497156        0.860753        0.177773
3        0.711062        0.731943        0.272173        0.656076

**# Task 3: Descriptive statistics**

In [ ]:
descriptive_stats=df.describe()
print(descriptive_stats)

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.582621        0.606317        0.508832        0.577280
std          0.095697        0.097711        0.355275        0.310030
min          0.485159        0.497156        0.141229        0.177773
25%          0.529883        0.557771        0.239437        0.456247
50%          0.567132        0.598085        0.516672        0.602574
75%          0.619870        0.646632        0.786066        0.723607
max          0.711062        0.731943        0.860753        0.926200

**# Task 4: Check for null values and data types**

In [ ]:
null_values = df.isnull().sum()
print(null_values)

Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

In [ ]:
data_types = df.dtypes
print(data_types)

Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

**# Display 'Random value 2' & 'Random value 3' columns using location method and index location method**

In [ ]:
random_value_2_location = df.iloc[:, 1]
print(random_value_2_location)

0    0.618195
1    0.577976
2    0.497156
3    0.731943
Name: Random value 2, dtype: float64

In [ ]:
random_value_3_location = df.iloc[:, 2]
print(random_value_3_location)

0    0.761170
1    0.141229
2    0.860753
3    0.272173
Name: Random value 3, dtype: float64

In [ ]:
random_value_2_index_location = df['Random value 2']
print(random_value_2_index_location)

0    0.618195
1    0.577976
2    0.497156
3    0.731943
Name: Random value 2, dtype: float64

In [ ]:
random_value_3_index_location = df['Random value 3']
print(random_value_3_index_location)

0    0.761170
1    0.141229
2    0.860753
3    0.272173
Name: Random value 3, dtype: float64